@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #39ff14; /* terminal-green */
  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    rgba(57, 255, 20, 0.05) 2px,
    rgba(57, 255, 20, 0.05) 4px
  ); /* Scanlines sutiles */
}

/* Scrollbar retro */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-left: 2px dashed #39ff14;
}
::-webkit-scrollbar-thumb {
  background: #39ff14;
}